{% extends "layout.html" %}

{% block content %}
<header>
  <div class="gradient">
    <a href="/index"><img src="../static/images/bmh_logo.png" alt="Burnside Medical Healthcare logo"> </a>
  </div>
</header>
<main>
  <h1> Welcome, {{ current_user.username }} </h1>



  <p>This is home page of <strong>Burnside Medical Healthcare.</strong></p>


  <p>
  <h2 style="text-align: center"> Mission & Goal </h2>
  </p>

  <p> &nbsp; We Burnside Medical Healthcare do comprehensive medical treatment thorough physical exam.
    We do all kind of blood and urine work, like cholesterol, sugar/diabetes. We check your kidney, liver, prostate. We
    also check for blood pressure, thyroid hormones, testosterone, and female hormones. In addition, We do EKG,
    circulations or blood flow to your legs through a test called PADNet.</p>

  <p> &nbsp; Our staffs are very welcoming, patient friendly and do their best to make the patients happy and meet their
    needs in very professional manners. For a healthier and stronger tomorrow we do preventive cancer screening, like
    mammogram, refer patients to GYN for pap test and pelvis and breast exam, osteoporosis screening, vision and hearing
    test, prostate exam. When it is beyond our capacity we refer patients to orthopedics, GIs, cardiologist, pulmonary
    specialist etc. as required by individual patients medical requirement.</p>

  <p> &nbsp; So, if you suffering from a medical conditions, or its been a while you did not visit a doctor, please <a
      href="mailto:rabiul.hasan@stu.bcc.cuny.edu">mail us</a> for an appointment and blood work, so you can put your
    body and health in the right track. </p>
  <p>&nbsp;</p>
  <hr>
  <div style="text-align: right">
    <p>
    <h3>Some of our Patient(s) comment about us</h3>
    </p>
    {% for post in posts %}
    <div>
      <p> {{ post.author.username }} says: {{ post.body }} </p>
    </div>
    {% endfor %}
  </div>

  <p>&nbsp;</p>
  <table width="100%" border="10">
    <caption>
      <h2 style="text-align: center"> Video Tips for Health </h2>
    </caption>
    <tbody>
      <tr>
        <td width="50%">
          <div class="video-responsive">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Gmh_xMMJ2Pw" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          &nbsp;
        </td>
        <td width="50%">
          <p> &nbsp; A healthy plate is an easy way to control portion sizes. Fill half your plate with non-starchy
            vegetables, one quarter with lean protein, and one with whole grains for a healthy eating plan.</p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="video-responsive">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rbOJx6R-wVI" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          &nbsp;
        </td>
        <td>
          <p> &nbsp; When you have diabetes, exercise can help keep blood sugar under control. Add exercise to your day
            and make it a healthy habit.</p>
        </td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

</main>
<!-- Use the footer area to add webpage footer content-->
<footer>
  <div id="copyright">
    &copy; Copyright 2021. All Rights Reserved. <br>
    <img src="../static/images/mail_ab.svg" alt="mail icon"> <a href="mailto:rabiul.hasan@stu.bcc.cuny.edu">Rabiul
      Hasan</a>
  </div>
  <div id="social">
    <p>Connect with us: <a href="https://www.linkedin.com/in/rabiul-hasan" target="_blank"><img
          src="../static/images/li_logo.svg" alt="Linkedin logo"></a>
      <a href="https://www.youtube.com/channel/UCfzD29GjLZMh49xx5mN15pQ/featured" target="_blank"> <img
          src="../static/images/youtube.svg" alt="youtube logo"> </a>
      <a href="https://www.twitter.com/Link0n04/" target="_blank"><img src="../static/images/twitter_logo.png"
          alt="Twitter logo"></a>
    </p>

    {% endblock %}