<html>

<head>

    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>|| Burnside Medical Healthcare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../static/images/favicon.ico" />

</head>

<body>
    <nav>
         <h2>
            <ul>
                Burnside Medical Healthcare:
                <li> <a style="text-decoration: none" href="/index">Home </a> </li>
                <li> <a style="text-decoration: none" href="{{ url_for('register')}}">Regitster</a> </li>
                {% if current_user.is_anonymous %}
                <li> <a style="text-decoration: none" href="{{ url_for('login') }}">Login </a> </li>
                {% else %}
                <li> <a style="text-decoration: none" href="{{ url_for('logout') }}"> Logout</a> </li>
                {% endif %}
            </ul>
        </h2>
    </nav>  
    
    <hr> 
        {% with messages = get_flashed_messages() %}
        {% if messages %}

        <ul>
            {% for message in messages %}
            <li> {{ message }} </li>
            {% endfor %}

        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}

    
</body>

</html>
