{% extends "layout.html" %}

{% block content %}
    <h1> SIGN IN </h1>
    <form action =  " ", method= "post", novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
        {{ form.remember_me() }} {{ form.remember_me.label }}
        </p>
        <p>
        {{ form.submit() }} 
        </P>
        </form>
        <p>
            Do you need to register for an account? <a href="{{ url_for('register')}}">Click here to regitster</a>
        </p>

        <hr>
        <footer>
            <div id="copyright">
              &copy; Copyright 2021. All Rights Reserved. <br>
              <img src="../static/images/mail_ab.svg" alt="mail icon"> <a href="mailto:rabiul.hasan@stu.bcc.cuny.edu">Rabiul
                Hasan</a>
            </div>
            <div id="social">
              <p>Connect with us: <a href="https://www.linkedin.com/in/rabiul-hasan" target="_blank"><img
                    src="../static/images/li_logo.svg" alt="Linkedin logo"></a>
                <a href="https://www.youtube.com/channel/UCfzD29GjLZMh49xx5mN15pQ/featured" target="_blank"> <img
                    src="../static/images/youtube.svg" alt="youtube logo"> </a>
                <a href="https://www.twitter.com/Link0n04/" target="_blank"><img src="../static/images/twitter_logo.png"
                    alt="Twitter logo"></a>
              </p>
          
        {% endblock %}