{% extends "layout.html" %}

{% block content %}
    <h1> Registration page for new user!</h1>
    <form action =  " ", method= "post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }} <br>
            {{ form.username(size =32)}} <br>
            {% for error in form.username.errors %}
            <span style = "color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }} <br>
            {{ form.email(size =64)}} <br>
            {% for error in form.email.errors %}
            <span style = "color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }} <br>
            {{ form.password(size =32)}} <br>
            {% for error in form.password.errors %}
            <span style = "color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }} <br>
            {{ form.password2(size =32)}} <br>
            {% for error in form.password2.errors %}
            <span style = "color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>

<hr>
    <footer>
        <div id="copyright">
          &copy; Copyright 2021. All Rights Reserved. <br>
          <img src="../static/images/mail_ab.svg" alt="mail icon"> <a href="mailto:rabiul.hasan@stu.bcc.cuny.edu">Rabiul
            Hasan</a>
        </div>
        <div id="social">
          <p>Connect with us: <a href="https://www.linkedin.com/in/rabiul-hasan" target="_blank"><img
                src="../static/images/li_logo.svg" alt="Linkedin logo"></a>
            <a href="https://www.youtube.com/channel/UCfzD29GjLZMh49xx5mN15pQ/featured" target="_blank"> <img
                src="../static/images/youtube.svg" alt="youtube logo"> </a>
            <a href="https://www.twitter.com/Link0n04/" target="_blank"><img src="../static/images/twitter_logo.png"
                alt="Twitter logo"></a>
          </p>
      
{% endblock%}